// Loader

$loaderBackgroundLight: #fff; 
$loaderBackgroundDark: #131212;
$loaderBoxLight: linear-gradient(97.6deg, #dbc1ab, #c9a788);
$loaderBoxDark: #fff;
$loaderBoxShadowLight: #000;
$loaderBoxShadowDark: #fff;

// 

$caseBackground: #FFFFFF;
$caseImage: rgba(0, 0, 0, 0.02);
$caseBorder: 1px solid #DCDCDC;

$caseBackgroundDark: #000000;
$caseImageDark: rgba(255, 255, 255, 0.06);;
$caseBorderDark: 1px solid #333333;


$buttonBackground: linear-gradient(97.6deg, #DBC1AB 0%, #C9A788 100%);
$buttonColor: #ffffff;
$buttonBackgroundDark: #ffffff;
$buttonColorDark: #000000;


$headerBackground: rgba(255, 255, 255, 0.7);
$headerBorder: 1px solid rgba(0, 0, 0, 0.08);
$headerColor: #000000;


$headerBackgroundDark: rgba(0, 0, 0, 0.55);
$headerBorderDark: 1px solid rgba(255, 255, 255, 0.08);
$headerColorDark: #ffffff;


$headerCashBackground: rgba(0, 0, 0, 0.05);
$headerCashColor: #000000;

$headerCashBackgroundDark: rgba(255, 255, 255, 0.15);
$headerCashColorDark: #ffffff;

$aboutBackground: #ffffff;
$aboutItemBackground: rgba(201, 167, 136, 0.22);
$aboutItemIcon: linear-gradient(97.6deg, #DBC1AB 0%, #C9A788 100%);


$aboutBackgroundDark: #000000;
$aboutItemBackgroundDark: rgba(255, 255, 255, 0.1);
$aboutItemIconDark: #2C2C2C;

$themeBackground: rgba(0, 0, 0, 0.05);
$themeActiveBackground: linear-gradient(97.6deg, #DBC1AB 0%, #C9A788 100%);

$themeBackgroundDark: rgba(255, 255, 255, 0.15);
$themeActiveBackgroundDark: #ffffff;


$reviewBackground: #ffffff;
$reviewBorder: 1px solid rgba(0, 0, 0, 0.08);
$reviewSelfBorder: 1px solid #DBC1AB;
$reviewLike: #E4F4E0;
$reviewDislike: #F9E6E6;
$reviewBody: #1B1B1B;
$reviewSource: rgba(0,0,0,0.4);


$reviewBackgroundDark: #000000;
$reviewBorderDark: 1px solid rgba(255, 255, 255, 0.08);
$reviewSelfBorderDark: 1px solid #fff;
$reviewLikeDark: #1D251B;
$reviewDislikeDark: #291A1A;
$reviewBodyDark: #E2E2E2;
$reviewSourceDark: rgba(255,255,255,0.4);



$reviewsBackground: #ffffff;
$reviewsBorder: 1px solid rgba(0, 0, 0, 0.08);
$reviewsText: #000000;


$reviewsBackgroundDark: #000000;
$reviewsBorderDark: 1px solid rgba(255, 255, 255, 0.08);
$reviewsTextDark: #ffffff;



$dropBackground: #FFFFFF;
$dropBorder: 1px solid #EDE6E0;
$dropShadow: linear-gradient(270deg, #FFFFFF 10%, rgba(255, 255, 255, 0) 100%);

$dropBackgroundDark: #000000;
$dropBorderDark: 1px solid #1D1D1D;
$dropShadowDark: linear-gradient(270deg, #131212 20%, rgba(19,18,18,0) 100%);

$titleColor: #000000;
$titleInfo: #F5F5F5;
$titleText: #BBBBBB;

$titleColorDark: #ffffff;
$titleInfoDark: #191919;
$titleTextDark: #585858;


$profileBackground: #ffffff;
$profileBorder: 1px solid rgba(0, 0, 0, 0.08);
$profileName: #000000;
$profileH2: #BB9C7F;
$profileTabBackground: rgba(0, 0, 0, 0.05);
$profileTabInactive: #959595;




$profileBackgroundDark: #000000;
$profileBorderDark: 1px solid rgba(255, 255, 255, 0.08);
$profileNameDark: #ffffff;
$profileH2Dark: #ffffff;
$profileTabBackgroundDark: rgba(255, 255, 255, 0.11);
$profileTabInactiveDark: #959595;


$modalBackground: #ffffff;
$modalText: #000000;
$modalInput: #F9F9F9;
$modalInputBorder: 1px solid #DFDFDF;

$modalBackgroundDark: #000000;
$modalTextDark: #ffffff;
$modalInputDark: #151515;
$modalInputBorderDark: 1px solid #313131;

$profileStatColor: #767676;
$profileStatColorDark: #ffffff;

$profileInputColor: #767676;
$profileInputColorDark: #ffffff;

$profileCopiedBorder: #686868;
$profileCopiedBackground: #ffffff;
$profileCopiedColor: #000000;

$profileCopiedBorderDark: #ffffff;
$profileCopiedBackgroundDark: #000000;
$profileCopiedColorDark: #ffffff;

$profileInputBorder: #DFDFDF;
$profileInputBackground: #F9F9F9;
$profileInputColor: #929292;

$profileInputBorderDark: #3C3C3C;
$profileInputBackgroundDark: #171717;
$profileInputColorDark: #979797;

$profileSaveButtonColor: #000000;
$profileSaveButtonBorder: #000000;

$profileSaveButtonColorDark: #ffffff;
$profileSaveButtonBorderDark: #ffffff;

$profileUidInfoBorder: #9e9e9e;
$profileUidInfoBackground: #dfdfdf;
$profileUidInfoColor: #000000;

$profileUidInfoBorderDark: #464646;
$profileUidInfoBackgroundDark: #242424;
$profileUidInfoColorDark: #ffffff;

$profileUidInfoEllipse: #F5F5F5;
$profileUidInfoQuestionmark: #A5A5A5;

$profileUidInfoEllipseDark: #171717;
$profileUidInfoQuestionmarkDark: #7a7a7a;

$profileItemBackground: #ffffff;
$profileItemBackgroundDark: #0C0C0C;

$profileItemStatusColor: #CBAA8C;
$profileItemStatusColorDark: #A8A8A8;

$profileItemOrderButtonColor: #CBAA8C;
$profileItemOrderButtonColorDark: #ffffff;

$profileMobileContainerBorder: #dfdfdf;
$profileMobileContainerBorderDark: #1D1D1D;

$profileItemSelectedBorder: #CBAA8C;
$profileItemSelectedBorderDark: #FFFFFF;


[data-theme='light'] {
  --loader-background: #{$loaderBackgroundLight};
  --loader-box: #{$loaderBoxLight};
  --loader-box-shadow: #{$loaderBoxShadowLight};

  --about-background: #{$aboutBackground};
  --about-item-background: #{$aboutItemBackground};
  --about-item-icon: #{$aboutItemIcon};

  --case-background: #{$caseBackground};
  --case-image:  #{$caseImage};
  --case-border:  #{$caseBorder};


  --button-background: #{$buttonBackground};
  --button-color: #{$buttonColor};

  --header-background: #{$headerBackground};
  --header-border: #{$headerBorder};
  --header-color: #{$headerColor};

  --header-cash-background: #{$headerCashBackground};
  --header-cash-color: #{$headerCashColor};

  --theme-background: #{$themeBackground};
  --theme-active-background: #{$themeActiveBackground};

  --review-background: #{$reviewBackground};
  --review-border: #{$reviewBorder};
  --review-self-border: #{$reviewSelfBorder};
  --review-like: #{$reviewLike};
  --review-dislike: #{$reviewDislike};
  --review-body: #{$reviewBody};
  --review-source: #{$reviewSource};


  --reviews-background: #{$reviewsBackground};
  --reviews-border: #{$reviewsBorder};
  --reviews-text: #{$reviewsText};


  --drop-background: #{$dropBackground};
  --drop-border: #{$dropBorder};
  --drop-shadow: #{$dropShadow};

  --profile-background: #{$profileBackground};
  --profile-border: #{$profileBorder};
  --profile-name: #{$profileName};
  --profile-h2: #{$profileH2};
  --profile-tab-background: #{$profileTabBackground};
  --profile-tab-inactive: #{$profileTabInactive};


  --title-color: #{$titleColor};
  --title-info: #{$titleInfo};
  --title-text: #{$titleText};


  --modal-background: #{$modalBackground};
  --modal-text: #{$modalText};
  --modal-input: #{$modalInput};
  --modal-input-border: #{$modalInputBorder};

  --profile-stat-color: #{$profileStatColor};
  --profile-input-color: #{$profileInputColor};

  --profile-copied-border: #{$profileCopiedBorder};
  --profile-copied-background: #{$profileCopiedBackground};
  --profile-copied-color: #{$profileCopiedColor};

  --profile-input-border: #{$profileInputBorder};
  --profile-input-background: #{$profileInputBackground};
  --profile-input-color: #{$profileInputColor};

  --profile-save-button-color: #{$profileSaveButtonColor};
  --profile-save-button-border: #{$profileSaveButtonBorder};

  --profile-uid-info-border: #{$profileUidInfoBorder};
  --profile-uid-info-background: #{$profileUidInfoBackground};
  --profile-uid-info-color: #{$profileUidInfoColor};

  --profile-uid-info-ellipse: #{$profileUidInfoEllipse};
  --profile-uid-info-questionmark: #{$profileUidInfoQuestionmark};

  --profile-item-background: #{$profileItemBackground};

  --profile-item-status-color: #{$profileItemStatusColor};
  --profile-item-order-button-color: #{$profileItemOrderButtonColor};

  --profile-mobile-container-border: #{$profileMobileContainerBorder};

  --profile-item-selected-border: #{$profileItemSelectedBorder};
}

[data-theme='dark'] {
  --loader-background: #{$loaderBackgroundDark};
  --loader-box: #{$loaderBoxDark};
  --loader-box-shadow: #{$loaderBoxShadowDark};

  --about-background: #{$aboutBackgroundDark};
  --about-item-background: #{$aboutItemBackgroundDark};
  --about-item-icon: #{$aboutItemIconDark};

  --case-background: #{$caseBackgroundDark};
  --case-image:  #{$caseImageDark};
  --case-border:  #{$caseBorderDark};

  --button-background: #{$buttonBackgroundDark};
  --button-color: #{$buttonColorDark};

  --header-background: #{$headerBackgroundDark};
  --header-border: #{$headerBorderDark};
  --header-color: #{$headerColorDark};

  --header-cash-background: #{$headerCashBackgroundDark};
  --header-cash-color: #{$headerCashColorDark};

  --theme-background: #{$themeBackgroundDark};
  --theme-active-background: #{$themeActiveBackgroundDark};


  --review-background: #{$reviewBackgroundDark};
  --review-border: #{$reviewBorderDark};
  --review-self-border: #{$reviewSelfBorderDark};
  --review-like: #{$reviewLikeDark};
  --review-dislike: #{$reviewDislikeDark};
  --review-body: #{$reviewBodyDark};
  --review-source: #{$reviewSourceDark};



  --reviews-background: #{$reviewsBackgroundDark};
  --reviews-border: #{$reviewsBorderDark};
  --reviews-text: #{$reviewsTextDark};

  --drop-background: #{$dropBackgroundDark};
  --drop-border: #{$dropBorderDark};
  --drop-shadow: #{$dropShadowDark};

  --profile-background: #{$profileBackgroundDark};
  --profile-border: #{$profileBorderDark};
  --profile-name: #{$profileNameDark};
  --profile-h2: #{$profileH2Dark};
  --profile-tab-background: #{$profileTabBackgroundDark};
  --profile-tab-inactive: #{$profileTabInactiveDark};



  --title-color: #{$titleColorDark};
  --title-info: #{$titleInfoDark};
  --title-text: #{$titleTextDark};

  --modal-background: #{$modalBackgroundDark};
  --modal-text: #{$modalTextDark};
  --modal-input: #{$modalInputDark};
  --modal-input-border: #{$modalInputBorderDark};

  --profile-stat-color: #{$profileStatColorDark};
  --profile-input-color: #{$profileInputColorDark};

  --profile-copied-border: #{$profileCopiedBorderDark};
  --profile-copied-background: #{$profileCopiedBackgroundDark};
  --profile-copied-color: #{$profileCopiedColorDark};

  --profile-input-border: #{$profileInputBorderDark};
  --profile-input-background: #{$profileInputBackgroundDark};
  --profile-input-color: #{$profileInputColorDark};

  --profile-save-button-color: #{$profileSaveButtonColorDark};
  --profile-save-button-border: #{$profileSaveButtonBorderDark};

  --profile-uid-info-border: #{$profileUidInfoBorderDark};
  --profile-uid-info-background: #{$profileUidInfoBackgroundDark};
  --profile-uid-info-color: #{$profileUidInfoColorDark};

  --profile-uid-info-ellipse: #{$profileUidInfoEllipseDark};
  --profile-uid-info-questionmark: #{$profileUidInfoQuestionmarkDark};

  --profile-item-background: #{$profileItemBackgroundDark};

  --profile-item-status-color: #{$profileItemStatusColorDark};
  --profile-item-order-button-color: #{$profileItemOrderButtonColorDark};

  --profile-mobile-container-border: #{$profileMobileContainerBorderDark};

  --profile-item-selected-border: #{$profileItemSelectedBorderDark};
}
